<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>福井県イベント情報</title>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <header>
            <h1><a id="header-logo" href="index.html">福井県イベント情報</a></h1>
              <form id="seachform" onsubmit="return false">
                     <input id="search" type="search" v-model="key_words" placeholder="キーワード・タグ検索">
              </form>
　　　　　　        <div id="change_Length">
                        <button v-on:click="LengthChange(10)">10件ずつ表示</button>
                        <button v-on:click="LengthChange(30)">30件ずつ表示</button>
                        <button v-on:click="LengthChange(-1)">全件表示</button>
                    </div>
        </header>

        <div class="main">
            <div id="contents"  >
                <section class="info" v-for="event in selectLange()" v-on:click="pickup(event)" >
                    <div class="boxdesign">
                            <div class="flex">  
                             <div class="state">{{state(event)}}</div>   
                             <div class="startdate">{{event.start_date}}</div>
                             <div class="category">{{event.category}}</div>
                            </div>
                             <div class="event_name">{{event.event_name}}</div>
                             <div class="event_place">{{event.event_place}}</div>
                    </div>  
                </section> 
                <div id="pagenation">
                    <ul class="pagination">
                            <li v-on="click: showFirst" class="{{isStartPage ? 'disabled' : ''}}"><a>&laquo;</a></li>
                            <li v-on="click: showPrev" class="{{isStartPage ? 'disabled' : ''}}"><a>&lt;</a></li>
                            <li v-on="click: showPage($index)" class="{{page == $index ? 'active': ''}}" v-repeat="pageCount"><a>{{$index + 1}}</a></li>
                            <li v-on="click: showNext" class="{{isEndPage ? 'disabled' : ''}}"><a>&gt;</a></li>
                            <li v-on="click: showLast" class="{{isEndPage ? 'disabled' : ''}}"><a>&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>  

        <footer>
            <form id="go_top">
                <div class="go_top_button" v-on:click="sclool_top">トップに戻る</div>
            </form>
        </footer>

        <script src="main.js"></script>  
          
    </body>
</html>