<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>福井県イベント情報</title>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <header>
            <h1><a id="header-logo" href="index.html">福井県イベント情報</a></h1>
              <form id="seachform" onsubmit="return false">
                     <input id="search" type="search" v-model="key_words" placeholder="キーワード・タグ検索">
              </form>
　　　　　　        <div id="change_Length">
                        <button v-on:click="LengthChange(10)">10件ずつ表示</button>
                        <button v-on:click="LengthChange(30)">30件ずつ表示</button>
                        <button v-on:click="LengthChange(-1)">全件表示</button>
                    </div>
        </header>
        <div id="app" class="container">
                <nav>
                  <ul class="pagination">
                    <li class="page-item">
                      <a @click="first" class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item">
                      <a @click="prev" class="page-link" href="#">&lt;</a>
                    </li>
              
                    <li
                      v-for="i in displayPageRange"
                      class="page-item"
                      :class="{active: i-1 === currentPage}">
                      <a @click="pageSelect(i)" class="page-link" href="#">{{ i }}</a>
                    </li>
              
                    <li class="page-item">
                      <a @click="next" class="page-link" href="#">&gt;</a>
                    </li>
                    <li class="page-item">
                      <a @click="last" class="page-link" href="#">&raquo;</a>
                    </li>
                  </ul>
                </nav>
                <div class="list-group" v-for="items in displayItems" >
                    {{ items.event_name }}
                </div>
        </div>
        <footer>
            <form id="go_top">
                <div class="go_top_button" v-on:click="sclool_top">トップに戻る</div>
            </form>
        </footer>

        <script src="main.js"></script>  
          
    </body>
</html>