body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:absolute
}

header{
    background-color: white;
    color: dimgray;
    height: 100px;
}

#header-logo{
    padding: 10px 20px;;
}


